<div class='input'>
  <label class='input__container'>
    <div class='input__label'>{{label}}</div>
    <input class='input__element {{#if error}}input_error{{/if}}' type='{{type}}' name='{{name}}' placeholder='{{placeholder}}' value="{{value}}"/>
    {{#if error}}<div class="error-text">{{error}}</div>{{/if}}
  </label>
</div>
