<form class="form">
    <div class="form__title">{{title}}</div>
    <div class="form__subtitle">{{subtitle}}</div>
    {{> @partial-block }}
    <div class="form__question">{{question}} <span page="{{link}}">{{link-text}}</span></div>
</form>