<main class="container-full">
  {{{ Nav title='Settings'}}}
  <div class="container">
    {{#> Form title="Create new password"}}
        {{{ InputField label="Old password" type="password" name="oldPassword" ref='password' placeholder="Enter your old password" validate=validate.password}}}
        {{{ InputField label="New password" type="password" name="newPassword" ref='newPassword' placeholder="Enter your password" validate=validate.new_password}}}
        {{{ InputField label="Confirm password" type="password" name="password" placeholder="Enter your password" ref='passwordConfirm' validate=validate.password_confirm}}}
        <div class="btn_margin">
            {{{ Button value="Save changes" type="primary"  onClick=onClick}}}
        </div>
    {{/Form}}
  </div>
</main>
