<main class='container-full chats-wrap dialog'>
  <aside class='aside'>
    {{{AsideHeader toLink=toSettings}}}
    {{{Chats}}}
  </aside>
  <div class='main'>
    {{{MainHeader}}}
    {{{ChatFeed}}}
    {{#> Form }}
      <div class='input-message__wrap'>
        {{{InputMessage validate=validate.message ref='inputMessage'}}}
        {{{Button value='Send' onClick=onClick}}}
      </div>
    {{/Form}}
  </div>
</main>