<main class='container-full settings'>
  {{{ Nav title='Settings'}}}
    <div class="settings-content">
       <div class="settings__top"> 
            <div class="settings__name">
               {{{Avatar name="Seda" size='80px' font-size='1.6rem'}}}
            </div>
            <div class="settings__flex">
                {{{Title title='Seda Gudieva'}}}
                <label class="btn-file" >
                    {{{InputField type='file'}}}
                        {{{Button value='Edit avatar' type="transparent" size="48px"}}}
                    </label>
            </div>
        </div>
       {{#> Form}}
            {{{InputField label="First name" name="first_name" ref='name' placeholder="Name" value="Seda" validate=validate.first_name}}}
            {{{InputField label="Surname" name="second_name" ref='surname' placeholder="Surname" value="Gudieva" validate=validate.second_name}}}
            {{{InputField label="Email" name="email" ref='email' type="email" placeholder="emailexample@gmail.com" validate=validate.email}}}
            {{{InputField label="Display name" name="display_name" ref='displayName' placeholder="Enter your name" validate=validate.display_name}}}
            {{{InputField label="Login" name="login" ref='login' placeholder="Login" value="seda_melhi" validate=validate.login}}}
            {{{InputField label="Phone" name="phone" ref='phone' type="tel" placeholder="+7(999) 999-99-99" validate=validate.phone}}}
            <div class="btn_margin">{{{Button value="Сhange password" type="transparent" page="newpassword" onClick=toChangePassword}}}</div>  
            <div class="btn_margin">{{{Button value="Save changes" type="primary" page='chats' onClick=onClick}}}</div>  
        {{/Form}}
    </div>
</main>