<div class='chat__avatar' {{#if size}}style='width:{{size}}; height:{{size}}; font-size: {{font-size}}'{{/if}}>
  {{#if avatar}}
    <img src={{avatar}} alt='' />
  {{else}}
    {{firstChar name}}
  {{/if}}
</div>